 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1482px;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 393px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 473px;
  min-height: 368px;
  height: auto;
  margin: -361px auto 0 63px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 52.8px;
  margin: 5px 30px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 85px;
  height: 85px;
  margin: -106px 30px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 819px;
  height: 614px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 543px;
  width: 483px;
  background-image: none;
  height: auto;
  margin: -248px 60px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin: -58px auto 0;
  padding: 7px 34px 8px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -228px auto 60px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 540px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -39px;
    margin-right: 57px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-group-1 {
    min-height: 256px;
    margin-top: -256px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 47px;
    height: 47px;
    margin-top: -42px;
    margin-right: 60px;
  }

  .u-section-1 .u-image-2 {
    height: 255px;
    margin-top: 89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 101px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 47px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 0 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  min-height: 66px;
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 53px;
}

.u-section-3 .u-text-1 {
  margin: 72px 26px 0;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 35px auto 0 199px;
  padding: 4px;
}

.u-section-3 .u-text-2 {
  margin: 34px 0 0 15px;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("images/20220808_103942.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 318px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 128px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 600px;
}

.u-section-4 .u-video-1 {
  height: 500px;
  margin: 50px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-4 .u-video-1 {
    height: 404px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-4 .u-video-1 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-4 .u-video-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 790px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 122px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 297px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 297px;
  background-image: url("images/20220807_165504.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 297px;
  background-image: url("images/20220808_103931.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 297px;
  background-image: url("images/20220808_103942.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 297px;
  background-image: url("images/20220801_192429.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  min-height: 297px;
  background-image: url("images/20220807_165501.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  min-height: 297px;
  background-image: url("images/pexels-photo-2438212.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 297px;
  background-image: none;
}

.u-section-5 .u-container-layout-8 {
  padding: 20px;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  width: 196px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-5 .u-image-1 {
    min-height: 245px;
  }

  .u-section-5 .u-image-2 {
    min-height: 245px;
  }

  .u-section-5 .u-image-3 {
    min-height: 245px;
  }

  .u-section-5 .u-image-4 {
    min-height: 245px;
  }

  .u-section-5 .u-image-5 {
    min-height: 245px;
  }

  .u-section-5 .u-image-6 {
    min-height: 245px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 245px;
  }

  .u-section-5 .u-text-2 {
    width: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 375px;
  }

  .u-section-5 .u-image-2 {
    min-height: 375px;
  }

  .u-section-5 .u-image-3 {
    min-height: 375px;
  }

  .u-section-5 .u-image-4 {
    min-height: 375px;
  }

  .u-section-5 .u-image-5 {
    min-height: 375px;
  }

  .u-section-5 .u-image-6 {
    min-height: 375px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2648px;
  }

  .u-section-5 .u-image-1 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    min-height: 563px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2832px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 46px;
    margin-bottom: -1px;
  }

  .u-section-5 .u-image-1 {
    min-height: 354px;
  }

  .u-section-5 .u-image-2 {
    min-height: 354px;
  }

  .u-section-5 .u-image-3 {
    min-height: 354px;
  }

  .u-section-5 .u-image-4 {
    min-height: 354px;
  }

  .u-section-5 .u-image-5 {
    min-height: 354px;
  }

  .u-section-5 .u-image-6 {
    min-height: 354px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 720px;
}

.u-section-6 .u-image-1 {
  width: 587px;
  height: 316px;
  margin: 334px 0 0;
}

.u-section-6 .u-shape-1 {
  height: 436px;
  width: 650px;
  margin: -630px 37px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 421px;
  height: 316px;
  margin: -122px 95px 0 auto;
}

.u-section-6 .u-group-1 {
  min-height: 284px;
  width: 503px;
  height: auto;
  margin: -589px 67px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5625rem;
  margin: 0;
}

.u-section-6 .u-group-2 {
  width: 490px;
  min-height: 196px;
  margin: -240px 650px 44px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-6 .u-image-1 {
    width: 495px;
    height: 323px;
    margin-right: auto;
  }

  .u-section-6 .u-shape-1 {
    width: 536px;
    margin-top: -587px;
    margin-left: 404px;
  }

  .u-section-6 .u-image-2 {
    width: 248px;
    height: 237px;
    margin-top: -93px;
    margin-right: 40px;
    margin-left: 652px;
  }

  .u-section-6 .u-group-1 {
    min-height: 232px;
    width: 454px;
    margin-right: 41px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-6 .u-group-2 {
    width: 404px;
    margin-right: 536px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    width: 371px;
    height: 246px;
    margin-top: 411px;
  }

  .u-section-6 .u-shape-1 {
    width: 438px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    width: 237px;
    height: 223px;
    margin-top: -84px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 246px;
    width: 376px;
    margin-top: -535px;
    margin-right: 31px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-group-2 {
    min-height: 288px;
    width: 282px;
    margin-top: -253px;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-6 .u-image-1 {
    width: 427px;
    height: 275px;
    margin-top: 542px;
  }

  .u-section-6 .u-shape-1 {
    height: 385px;
    width: 441px;
    margin-top: -548px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 212px;
    margin-top: 76px;
  }

  .u-section-6 .u-group-1 {
    min-height: 214px;
    width: 407px;
    margin-top: -634px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-group-2 {
    min-height: 209px;
    width: 432px;
    margin-top: -462px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-6 .u-image-1 {
    height: 263px;
    margin-top: 856px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-shape-1 {
    height: 356px;
    width: 301px;
    margin-top: -936px;
    margin-right: auto;
  }

  .u-section-6 .u-image-2 {
    height: 284px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 332px;
    width: 275px;
    margin-top: -668px;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-group-2 {
    min-height: 216px;
    margin-top: -500px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  min-height: 500px;
}